attrs==19.1.0
bcrypt==3.1.6
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0


decorator==4.4.0
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter-core==4.4.0
MarkupSafe==1.1.1
nbformat==4.4.0
numpy==1.16.4

Pillow==7.0.0
plotly==3.9.0
pycparser==2.19
pyrsistent==0.15.2
python-dateutil==2.8.0
python2-secrets==1.0.5
pytz==2019.1
pylint-flask
requests==2.22.0
retrying==1.3.3


SQLAlchemy==1.3.4
traitlets==4.3.2
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
xlrd==1.2.0
opencv-python==4.1.0.25
