{% extends "layout.html" %}
{% block content %}
    <body style="background:white">
        <ol class="breadcrumb" style="border-radius:20px">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">License Owner</li>
        </ol>

        <div class="container-fluid">
            <div class="form-row" style="margin-top:10px">
                <div class="container-fluid col-md-3 mx-auto">
                    <div class="card mb-3" style="border-radius:20px; margin-top:10px">
                        <div class="card-body" style="vertical-align:middle">
                            <img class="rounded-circle account-img mx-auto" src="./static/profile_pics/default2.jpg" style="max-width:40%;display:block">
                            <div class="container  mx-auto">
                                <div style="margin-top:30px; text-align:center; color:gray"><h5>Student</h5></div>
                                <div style="margin-bottom:5px; text-align:center"><h2><b>Nseghe Essiet</b></h2></div>
                                <div style="margin-top:0px; text-align:center; color:gray"><h6><b>License Number: {{ license_owner.id }}</b></h6></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid form-row col-md-8 mx-auto my-auto">
                    <div class="col-md-4 mx-auto" style="margin-top:10px; margin-bottom:10px">
                        <div class="card mb-3" style="border-radius:10px">
                            <div class="card-header"><i class="fa fa-globe" style="margin-right:10px"></i>Address</div>
                            <div class="card-body">
                                <div style="margin-bottom:10px"><i class="fa fa-home" style="margin-right:20px"></i>University of Lagos</div>
                                <div style="margin-bottom:10px"><i class="fa fa-building" style="margin-right:25px"></i>Algostacks AI</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mx-auto" style="margin-top:10px; margin-bottom:10px">
                        <div class="card mb-3" style="border-radius:10px">
                            <div class="card-header"><i class="fa fa-address-card aria-hidden='true'" style="margin-right:10px"></i>Contact</div>
                            <div class="card-body">
                                <div style="margin-bottom:10px"><i class="fa fa-phone" style="margin-right:20px"></i><a href="#">+2347031970201</a></div>
                                <div style="margin-bottom:10px"><i class="fa fa-envelope" style="margin-right:20px"></i><a href="#">essietnseghe@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mx-auto" style="margin-top:10px; margin-bottom:10px">
                        <div class="card mb-3" style="border-radius:10px">
                            <div class="card-header"><i class="fas fa-sitemap" style="margin-right:10px"></i>Organization</div>
                            <div class="card-body">
                                <div style="margin-bottom:10px"><i class="fa fa-building" style="margin-right:20px"></i>Bank of Industry</div>
                            </div>
                        </div>
                    </div>
                    <div class="container form-row" style="padding:10px 20px 10px 40px">
                        <div class="col-md-5 mx-auto" style="margin-top:10px; margin-bottom:10px">
                            <div class="card mb-3" style="border-radius:10px">
                                <div class="card-header"><i class="fa fa-id-card" style="margin-right:10px"></i>Account I:<a style="margin-left:15px"><b>Savings</b></a></div>
                                <div class="card-body">
                                    <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Account Name:<a style="margin-left:15px">Nseghe Essiet</a></div>
                                    <div style="margin-bottom:10px"><i class="fa fa-database" style="margin-right:20px"></i>Account No:<a style="margin-left:35px" href="#">2042335613</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mx-auto" style="margin-top:10px; margin-bottom:10px">
                            <div class="card mb-3" style="border-radius:10px">
                                <div class="card-header"><i class="fa fa-id-card" style="margin-right:10px"></i>Account II:<a style="margin-left:15px"><b>Current</b></a></div>
                                <div class="card-body">
                                    <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Account Name:<a style="margin-left:15px">Nseghe Essiet</a></div>
                                    <div style="margin-bottom:10px"><i class="fa fa-database" style="margin-right:20px"></i>Account No:<a style="margin-left:35px" href="#">2045567467</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col-md-4 mx-auto">
                    <div class="card mb-3" style="border-radius:10px">
                        <div class="card-header"><i class="fas fa-info-circle" style="margin-right:10px"></i><b>Personal</b></div>
                        <div class="card-body">
                            <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Age:<a style="margin-left:95px">23</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Education:<a style="margin-left:49px">Tertiary</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Occupation:<a style="margin-left:41px">Technician</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Marital Status:<a style="margin-left:26px">Married</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-id-badge" style="margin-right:20px"></i>Housing Status:<a style="margin-left:15px">Rental</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card mb-3" style="border-radius:10px">
                        <div class="card-header"><i class="fa fa-credit-card" style="margin-right:10px"></i><b>Financial Information</b></div>
                        <div class="card-body">
                            <div style="margin-bottom:10px"><i class="fa fa-database" style="margin-right:20px"></i>Account Balance (N):<a style="margin-left:32px">21433</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-database" style="margin-right:20px"></i>Existing Loan(s):<a style="margin-left:65px">Yes</a><a href="#" style="margin-left:35px; mx-right">Details</a></div>
                            <div style="margin-bottom:10px"><i class="fa fa-database" style="margin-right:20px"></i>Previous Credit Default:<a style="margin-left:15px">Yes</a><a href="#" style="margin-left:35px; mx-right">Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card mb-3" style="border-radius:10px">
                        <div class="card-header"><i class="fas fa-microchip" style="margin-right:10px"></i><b>Models</b></div>
                        <div class="card-body" style="vertical-align:middle; padding-top:30px">
                            <div class="container mx-auto">
                                <div class="row mb-3 mx-auto">
                                    <a class="col-md-6 mx-auto" href="{{ url_for('customers.customer_page') }}" style="border-radius:10px"><button class="btn btn-primary" type="button" style="border-radius:15px; border:1px solid darkslategray"><h5>Monitor Customer Loans</h5></button></button></a>
                                    <a class="col-md-6 mx-auto" href="{{ url_for('customers.customer_loan_default') }}" style="border-radius:10px"><button class="btn btn-primary" type="button" style="border-radius:15px; border:1px solid darkslategray"><h5>Predict Loan Default</h5></button></a>
                                </div>
                                <div class="row mb-3 mx-auto">
                                    <a class="col-md-6 mx-auto" href="{{ url_for('main.home') }}" style="border-radius:10px"><button class="btn btn-primary" type="button" style="border-radius:15px; border:1px solid darkslategray"><h5>Predict Customer Churn</h5></button></button></a>
                                    <a class="col-md-6 mx-auto" href="{{ url_for('main.home') }}" style="border-radius:10px"><button class="btn btn-primary" type="button" style="border-radius:15px; border:1px solid darkslategray"><h5>Customer GeoSpatial Map</h5></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}